h3 {    /* Стиль для сообщений пользователей */
    font-weight: normal;
    font-size: 20;
    padding: 10px; /* Поля вокруг текста */
    border-radius: 15px; /* Уголки */
    min-width: 10%;
    max-width: 80%;
    width: fit-content;
    background: #8c8ed9;
    text-align: left;    
    margin-left: 10px; 
    margin-right: auto; 
    margin-top: 3px; 
    margin-bottom: 3px;
}

h4 { /* Стиль для сообщений других пользователей */
        font-weight: normal;
        font-size: 20;
        padding: 10px; /* Поля вокруг текста */
        border-radius: 15px; /* Уголки */
        min-width: 10%;
        max-width: 80%;
        width: fit-content;
        background: #7aec41;
		text-align: right;    
        margin-left: 10px; 
		margin-right: 3px; 
        margin-top: 3px; 
		margin-bottom: 3px;
}
.sendMesDiv{
    background: #7aecff;
    width: fit-content;
    padding: 10px;
    display: none;
}

.allMess { /* Стиль для чата */
border: 2px solid rgb(25, 5, 5);
height: 500px;
overflow: auto;
width: 500px;
align: center;
}

.clAuthor { /* Стиль для авторизации */
    border: 2px solid rgb(42, 170, 27);
    align: center;
    padding: 20px;
    width: 500px;
    display: none;
}

.isShow{
    display: block;
}
